@charset "utf-8";
/* CSS Document */
html{font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,body,div,view,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0;padding:0;}
article,view,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
body{margin: 0 auto;word-wrap:break-word;line-height:1.5;font-family:'microsoft yahei',Verdana,"\5FAE\8F6F\96C5\9ED1",Helvetica,Tahoma,sans-serif,"\5b8b\4f53",Arial;background:#FFF;color:#000;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-touch-callout:none;cursor:default;-ms-content-zooming:none;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-weight:normal; font-style:normal;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
[hidden],template{display:none;}pre{overflow:auto;}
table{border-collapse:collapse;border-spacing:0;font:inherit;empty-cells:show;}
address,caption,cite,code,dfn,th,var{font-style:normal; font-weight:normal;}
button,input,select,textarea{text-decoration: none;outline:none;-moz-outline:none;font: inherit;word-break:normal;text-transform:none;}
input, select, label {vertical-align: middle;-webkit-appearance : none ;-moz-appearance : none ;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{vertical-align:middle;-webkit-appearance:button;cursor:pointer;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input{line-height:normal;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{resize:none;overflow:auto;vertical-align:top}    del{text-decoration:line-through;}
ul,ol,li,dl{list-style-type:none;}         i,em{font-style:normal;}     svg:not(:root){overflow:hidden;}
img{border:0;max-width:100%;height:auto;vertical-align:middle;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0);}   
a{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;background-color:transparent;} 
a:visited {color:#333;} 

/* font-size */
.f0{font-size:0;} .f10{font-size:1rem;} .f11{font-size:1.1rem;} .f12{font-size:1.2rem;} .f13{font-size:1.3rem;}  .f14{font-size:1.4rem;} .f15{font-size:1.5rem;} .f16{font-size:1.6rem;} .f17{font-size:1.7rem;} .f18{font-size:1.8rem;} .f19{font-size:1.9rem;} .f20{font-size:2rem;} .f22{font-size:2.2rem;} .f24{font-size:2.4rem;} .f26{font-size:2.6rem;} .f28{font-size:2.8rem;}  .f30{font-size:3rem;} .f32{font-size:3.2rem;} .f34{font-size:3.4rem;}
.fmy{font-family:'Microsoft Yahei',Verdana,"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial;}
.far{font-family:Arial,"\5b8b\4f53", sans-serif;}
/* display */
.hide{display:none;}   .show{display:block;}   .di{display:inline;}   .dib{display:inline-block;}  .zom{zoom:1;*zoom:1} 
/* clear */
.clear{width:100%;display: block;clear:both;font-size:0; height:0; line-height:0;*zoom:1}
.clear:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.rdu{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;} 
.rdu4{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}  
.rdu5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.rdu6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}  
.rdu8{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
/* float */  
.fl{ float:left;}    .fr{ float:right;}
/* overflow position */
.ovh{overflow:hidden;}   .jui-por{position:relative;}   .jui-poa{position:absolute;}   .jui-pof{position:fixed;}
/* font-style */
.b,strong{font-weight:bold}   .fsi{font-style:italic;}
/* text-align */
.tc{text-align:center;}   .tr{text-align:right;}   .tl{text-align:left;}  
.jui-tju{text-align: justify;font-size: 0;}
.jui-juflex{width: 100%;display: -webkit-box;-webkit-box-pack: justify;-webkit-justify-content: space-between;}
/* text-decoration */
.tdu{text-decoration:underline;}  .tdn,.tdn:hover,.tdn a:hover,a.tdu:hover{text-decoration:none;}
/* vertical-align */
.vam{vertical-align:middle;}   .vatb{vertical-align:text-bottom;}   .vab{vertical-align:bottom;}   .vat{vertical-align:top;}
/* other */
.jui-auto{margin-left:auto; margin-right:auto;}
.jui-vercent{display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;}
.jui-progress { width: 100%;height: 2px;font-size: 0px;overflow: hidden;background-color: #e2e2e2;box-sizing: border-box;}
.jui-progress .degree{width: 0%; height: 100%;display: block;background: #65d521;font-size: 0;}
/* flex box */
.flexbox{display:-webkit-box;display:box;}
.jui-fle01{position:relative;-webkit-box-flex:1;box-flex:1;}
.jui-fle02{position:relative;-webkit-box-flex:2;box-flex:2;}
.jui-fle03{position:relative;-webkit-box-flex:3;box-flex:3;}
.jui-fle04{position:relative;-webkit-box-flex:4;box-flex:4;}
.jui-fle05{position:relative;-webkit-box-flex:5;box-flex:5;}
.jui-fle06{position:relative;-webkit-box-flex:6;box-flex:6;}
.jui-fle07{position:relative;-webkit-box-flex:7;box-flex:7;}
.jui-fle08{position:relative;-webkit-box-flex:8;box-flex:8;}
.jui-pack-start{-webkit-box-pack: start;box-pack: start;}
.jui-pack-center{-webkit-box-pack: center;box-pack: center;}
.jui-pack-end{-webkit-box-pack: end;box-pack: end;}
.jui-align-start{-webkit-box-align: start;box-align: start;}
.jui-align-center{-webkit-box-align: center;box-align: center;}
.jui-align-end{-webkit-box-align: end;align: end;}
.jui-orient-ver{-webkit-box-orient: vertical;box-orient: vertical;}    .jui-orient-hor{-webkit-box-orient: horizontal;box-orient: horizontal;}
.jui-pack-align{-webkit-box-pack: center;-webkit-box-align: center;}
.jui-center{width: 100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center;text-align: center;}
/* absolutely */
.colbox{float:left; -webkit-box-sizing:border-box;box-sizing:border-box;}   .juiw100{width:100%;}
.juiw90{width:90%;}   .juiw80{width:80%;}   .juiw75{width:75%;}   .juiw70{width:70%;}    .juiw67{width:67%;}
.juiw60{width:60%;}   .juiw50{width:50%;}   .juiw40{width:40%;}   .juiw30{width:30%;}    .juiw33{width:33.33%;}
.juiw25{width:25%;}   .juiw20{width:20%;}   .juiw10{width:10%;}   .juiw5{width:5%;}
/* Text truncation*/
.jui-nowrap{max-width: 100%;white-space:nowrap;} 
.jui-nowrap-flex{display: -webkit-box;-webkit-box-orient: vertical;height: inherit;}
.jui-ell{overflow:hidden;text-overflow: ellipsis;}
.cla01{-webkit-line-clamp:1;}.cla02{-webkit-line-clamp:2;}.cla03{-webkit-line-clamp:3;}.cla04{-webkit-line-clamp:4;}.cla05{-webkit-line-clamp:5;}.cla06{-webkit-line-clamp:6;}.cla07{-webkit-line-clamp:7;}.cla08{-webkit-line-clamp:8;}
/* 1px hack */
.jui-border-t{border-top:1px solid #dfdfdf;}
.jui-border-b{border-bottom:1px solid #dfdfdf;}
.jui-border-tb{border-top:#dfdfdf 1px solid;border-bottom:#dfdfdf 1px solid;background-image:none;}
.jui-border-l{border-left:1px solid #dfdfdf;}
.jui-border-r{border-right:1px solid #dfdfdf;}
.jui-border{border:1px solid #dfdfdf;}
.jui-border-radius{border:1px solid #dfdfdf;border-radius:4px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
.jui-border-radius{position:relative;border:0;}
.jui-border-radius:before{position:absolute;top:0;left:0;-webkit-box-sizing:border-box;padding:1px;width:200%;height:200%;border:1px solid #dfdfdf;border-radius:8px;content:"";-webkit-transform:scale(.5);-webkit-transform-origin:0 0;pointer-events:none;}}
@media screen and (-webkit-min-device-pixel-ratio:2){
.jui-border{position:relative;border:0;}
.jui-border-b,.jui-border-l,.jui-border-r,.jui-border-t,.jui-border-tb{border:0;}
.jui-border-t{background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:left top;}
.jui-border-b{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:left bottom;}
.jui-border-b,.jui-border-t,.jui-border-tb{background-repeat:repeat-x;-webkit-background-size:100% 1px;}
.jui-border-tb{background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf)),-webkit-gradient(linear,left top,left bottom,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:top,bottom;}
.jui-border-l{background-image:-webkit-gradient(linear,right top,left top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:left top;}
.jui-border-r{background-image:-webkit-gradient(linear,left top,right top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:right top;}
.jui-border-l,.jui-border-r{background-repeat:repeat-y;-webkit-background-size:1px 100%;}
.jui-border:after{position:absolute;top:0;left:0;z-index:10;-webkit-box-sizing:border-box;padding:1px;width:100%;height:100%;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf)),-webkit-gradient(linear,left top,right top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf)),-webkit-gradient(linear,left top,left bottom,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf)),-webkit-gradient(linear,right top,left top,color-stop(.5,transparent),color-stop(.5,#dfdfdf),to(#dfdfdf));background-position:top,right,bottom,left;background-size:100% 1px,1px 100%,100% 1px,1px 100%;background-size:100% 1px,1px 100%,100% 1px,1px 100%;background-repeat:no-repeat;content:"";-webkit-background-size:100% 1px,1px 100%,100% 1px,1px 100%;pointer-events:none;}}
/* margin */
.ml0{margin-left:0;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml8{margin-left:8px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}
.mr0{margin-right:0;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr8{margin-right:8px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}
.mt0{margin-top:0;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt8{margin-top:8px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}
.mb0{margin-bottom:0;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb8{margin-bottom:8px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
.m0{margin:0;}.m1{margin:1px;}.m2{margin:2px;}.m5{margin:5px;}.m8{margin:8px;}.m10{margin:10px;}.m15{margin:15px;}.m20{margin:20px;}.m25{margin:25px;}.m30{margin:30px;}
/* padding */
.pl0{padding-left:0;}.pl2{padding-left:2px;}.pl5{padding-left:5px;}.pl8{padding-left:8px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}
.pt0{padding-top:0;}.pt2{padding-top:2px;}.pt5{padding-top:5px;}.pt8{padding-top:8px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}
.pr0{padding-right:0;}.pr2{padding-right:2px;}.pr5{padding-right:5px;}.pr8{padding-right:8px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}
.pb0{padding-bottom:0;}.pb2{padding-bottom:2px;}.pb5{padding-bottom:5px;}.pb8{padding-bottom:8px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}
/* Backgrounds */
.bg-no{background-color: transparent;} /*w无色*/ 
.bg-wh{background-color:#ffffff;} /*白色*/  
.bg-mogray{background-color:#E6E6E6;} /*默认-灰色*/  
.bg-blue{background-color:#0E90D2;} /*蓝色*/  
.bg-qblue{background-color:#3BB4F2;} /*浅蓝色*/ 
.bg-green{background-color:#5EB95E;} /*绿色*/ 
.bg-orange{background-color:#F37B1D;} /*橙色*/ 
.bg-red{background-color:#f74c31;} /*红色*/
.bg-purple{background-color: #8a6de9;}
/* Colors */
.g0{color:#000;}  .g3{color:#333;}  .g6{color:#666;}  .g9{color:#999;}  .ga{color:#aaa;} .gb{color:#bbb;} .gc{color:#ccc;} .gd{color:#ddd;} .ge{color:#eee;}  .wh{color:#fff;}
.blue{color:#0E90D2;}.green{color:#5EB95E;}.orange{color:#F37B1D;}.red{color:#f74c31;}.purple{color:#8a6de9;}  
a.links{color: #095f8a;text-decoration: underline;background-color: transparent;}
a.blue{color:#0E90D2;}a.green {color:#5EB95E;}a.orange {color:#F37B1D;}a.red{color:#DD514C;}a.purple{color:#8a6de9;}
/* badge */
.jui-badge {line-height: 1;display: inline-block;padding: 3px 6px;border-radius: 100px;}
.jui-reddot{ width: 8px;height: 8px;display: block;border-radius: 5px;background-clip: padding-box;}
/* button */
.jui-btn, button, input[type=button], input[type=reset], input[type=submit]{position:relative;display:inline-block;padding:6px 12px;background-clip:padding-box;vertical-align:top;text-align:center;white-space:nowrap;font-weight:400;line-height:1.42;cursor:pointer;-webkit-transition:all;transition:all;-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.2s;transition-duration:.2s;}
.edge-mogray{border: 1px solid #ccc;}
.edge-blue{border: 1px solid #0E90D2;}
.edge-qblue{border: 1px solid #3BB4F2;}
.edge-green{border: 1px solid #5EB95E;}
.edge-orange{border: 1px solid #F37B1D;}
.edge-red{border: 1px solid #f74c31;}
.edge-purple{border: 1px solid #8a6de9;}
/* checkbox */
.jui-checkbox{width:25px;height:25px;position:relative;display:inline-block;margin-right:10px;margin: 0;border:solid 1px #d9d9d9;-webkit-border-radius:20px;border-radius:20px;background-color:#FFF;background-clip:padding-box;-webkit-appearance:none;}
.jui-checkbox:focus{outline:0 none;outline-offset:-2px;}
.jui-checkbox:checked{border:solid 1px #FFF;background-color:#18b4ed;}
.jui-checkbox:disabled{border:solid 1px #d9d9d9;background-color:#d9d9d9;}
.jui-checkbox.checkbox-green:checked{background-color:#5cb85c;}
.jui-checkbox.checkbox-orange:checked{background-color:#f0ad4e;}
.jui-checkbox.checkbox-s{width:19px;height:19px;}
.jui-checkbox-anim{transition:background-color ease .2s;}
.jui-checkbox:checked:before,.jui-checkbox:disabled:before,.jui-checkbox.checkbox-s:before{ width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:absolute;content:"";background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAh1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9qkf8RAAAALHRSTlMA5RYG7pED9vLPnH5XQx3q08C7i4R4XVM+KSYa18zIxKuWT0s5LUgjIQ1zarRA3zAAAADkSURBVEjH7dBtE0JAFIZhhY1Kb4qI6EWo/f+/r/bsmKWNdfpW4/lk1lxzzxxt2B/sYGZIMd7QOMcKSu0MJ9h8rJh4CLH+UswR1wVhYQS6sUjQjQTdOELDrx/D0ztFIokypSZRNYxzvZG+XtxWUXABjWoeZTP1lkbcbMBKl5uPIgdhgajPbe0UNjQu0g/CjXyDUAhpWzAnXSlk0+gEK/a2vIkXVScEYYDoMlPy1nC0js240SXR0wQR+x4JoTRZJBq9DAl5Y68WlUltIdTbgUEIMELgzOjaG4ABgdodBG4PRxv2g3sCc8kuC1Fi+GsAAAAASUVORK5CYII=");background-position:center center; background-repeat:no-repeat;-webkit-background-size:70%!important;background-size:70%!important;}
/* switch */
.jui-switch{position:relative;display:inline-block;width:52px;height:31px;outline:0;margin: 0;border:1px solid #dfdfdf;border-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:20px;border-top-left-radius:20px;background-color:#fdfdfd;background-clip:content-box;box-shadow:#dfdfdf 0 0 0 0 inset;-webkit-appearance:none;user-select:none;}
.jui-switch:before{position:absolute;top:0;left:0;width:29px;height:29px;border-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:20px;border-top-left-radius:20px;background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,.4);content:'';}
.jui-switch:checked{border-color:#64bd63;background-color:#64bd63;box-shadow:#64bd63 0 0 0 16px inset;}
.jui-switch:checked:before{left:21px;}
.jui-switch.jui-switch-animbg{transition:background-color ease .4s;}
.jui-switch.jui-switch-animbg:checked{background-color:#64bd63;box-shadow:#dfdfdf 0 0 0 0 inset;transition:border-color .4s,background-color ease .4s;}
.jui-switch.jui-switch-anim{transition:border cubic-bezier(0,0,0,1) .4s,box-shadow cubic-bezier(0,0,0,1) .4s;}
.jui-switch.jui-switch-anim:checked{background-color:#64bd63;box-shadow:#64bd63 0 0 0 16px inset;transition:border ease .4s,box-shadow ease .4s,background-color ease 1.2s;}
.jui-switch.jui-switch-animbg:before,.jui-switch.jui-switch-animbg:checked:before,.jui-switch.jui-switch-anim:before,.jui-switch.jui-switch-anim:checked:before{transition:left .3s;}
/* mask and gotop and arrow */
.jui-mask{z-index:15000;width:100%;height:100%;left:0;top:0;margin:0;padding:0;border:0;position:fixed;position:absolute;}
.jui-centbox{-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;box-orient: horizontal;box-pack: center;box-align: center;position:fixed;}
.jui-gotop{ width:40px; height:40px; background:rgba(0,0,0,0.8); border: 1px #000 solid; border-radius:50%;display: none;}
.jui-gotop:after {border-bottom-color: #fff;background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIbSURBVGhD7VhNKERRFDYyrCY/JcmGFDZWZEGsFNnYiJVYzRZLme1s7NkoZWWDjZ2ssLKVEgtbyk+hbIbxHd2nKcN57953pzOvc+vr1nN+vu98N+++SRWLxZokr9okiyNtKrDaHVYH1UHhE9AjKtwglp46yI5IeIA6KNwglp46yI5IeIA6KNwglp46yI5IeIA6GKNBadTaBPIx1uRL0Y9OFUAaPbaBYK1XoOe3rkqIy6DRPlAA5oEVo3ILe4Nvob4FNkPAsRE0VyJmyTzb9S3Sp8A2kD8F3oCpMk4t4NkHcAjQILxw8VIUZLuAS+AJGPuH/Az+9gmcAK0+RPoQ2Aei18A9MBSC9ARiXoFzoCNEfCTOkYJDNB9EzJ0RSELD1h9B7ANwA/RGyGPrswERmo0i9tkcze4IeQGHATOcW+z9FvlltcQlcNIcszPs7Q7kepB7ZdwcdqjzoysOgbMgQoteBy0xkOpEjQvgBRh3recqcBEE6AV+ADS6kinJp1cM/Wd9B6Zd6roIXDbO7WCvcyHxR24Tnh+ZHnQDsuJqlYRmq6bxBvZ62+Yh8uiat2d6ZUPE/9JjI5AuyrTyNg0tcuh0BBf1XNR8m+/BR3yj5IA1/lsllogCqmTNp1YmasUUTSTJy8bBqpqHCqwqu8qQVQfVQeET0CMq3CCWnjrIjkh4gDoo3CCWnjrIjkh4gDoo3CCWnjrIjkh4QOId/AJJiWznZHn71gAAAABJRU5ErkJggg==");background-position:center center; background-repeat:no-repeat;}
.close{background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAACnRSTlMAFdTq5CbTYV8JSi9ThgAAAKRJREFUKM+F0z0KhDAQhuFssX0Iy/ZpPYKdhb2Fp/AGXsEL2GvjMYVR5h2GQQP+kO9xTGCS1pzc+MxpqX6yHKls2cGmymWHKKVAufd2crzMb88Gtp08v62p+t8HLa1wqtRWqDkUCAVCgVAgVCNL78RRoKFAQ4GGAh8m+fzlRyzpdfFs00MokAxICCQFupg3ct8MRZohaJu4wcJWjJsWCA0PQnhkTij9LXEG4S7/AAAAAElFTkSuQmCC");background-position:center center; background-repeat:no-repeat;}
.arrow{background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAaVBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMypTxUEAAAAInRSTlMA+gYVzgwD8r+uTOLaoop6Nx0Q7ZZDKSPo1WM9L8a2bVtViTVkmgAAAZdJREFUeNrtmVuOgkAQRa8iKoLgA8UnaO1/kfMxmXT9dsfk9pR1NlAnJCRVp+E4juM4zj/lBC6d9GDSich2CRqtCNWglV8qkkEvf1RzELhLYKQYvGbBYE0xeGuDEgQ2yuBJN1gcQOCkDQoQuK/YBjtlcOUYHINBsweBhzKoBxA4X+gGdTC4nEFg0AYPENg3weDIN9iBQHENBqs7CBQLZXACgYMymHEMnspgAwLlOiuDNwjMR2XwAoF5JYEbCGgDmUBguc3KoAODPiuDFgzarAx6MOi0wRIEggErokx0g5tIXEQxaKAjyugRJQODJz+ixBl4RPmcgQSaiL/RyqKauKqbOVbY51qZeLBaOdkTo4WZbJMarqykO3a81Pm2jsm3RgK2TvhNzHwjjxipG4iVHSx1C7WyhydfIkZusdRr1Mo9PmU0P6rJGKlSXWoZNFIm09usiTod+UJgb37qK5HB/MCYX66/PH/klB8I8ws9/8vzw4qQHzDUnPyhPwExP2iDyxksiispf+gfsR7A5FDt4TiO4ziO8yF+ACUijYd6yu3cAAAAAElFTkSuQmCC");background-position:center center; background-repeat:no-repeat;}



.viewbody{overflow: hidden;overflow-x: hidden;overflow-y: hidden;position: relative;background-color: #FAFAFA;}
.viewwrap{width: 100%;height: 100%;position: absolute;top: 0;left: 0;border: 0;display: -webkit-box;display: box;-webkit-box-orient: vertical;box-orient: vertical;background-color: #FFF;}
.viewhead{position:relative;display:-webkit-box;display:box;width:100%;height:44px;}
.viewmain{position:relative;display:-webkit-box;display:box;overflow:auto;-webkit-box-flex:1;box-flex:1;}
.viewfoot{position:relative;display:-webkit-box;display:box;width:100%;height:44px;background-color:#f3f3f3;}